/* Transição de cor para a palavra CODE */
.CODE-transition {
    transition: color 1s ease-in-out;
}

/* Define a cor vermelha para o texto digitado */
.typing-red {
    color: rgb(231, 33, 33);
}

#textContainer.parent-container {
    border-bottom-left-radius: 20px;
    /* Ajuste conforme necessário */
    border-bottom-right-radius: 20px;
    /* Ajuste conforme necessário */
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.7);
    /* Ajuste conforme necessário */
    transition: box-shadow 0.5s ease-in-out;
    /* Adiciona transição suave para a sombra */
}