/* Estilos para a transição da palavra CODE */
.CODE-transition {
    transition: color 1s ease-in-out;
}

/* Define a cor vermelha para o texto digitado */
.typing-red {
    color: rgb(231, 33, 33);
    transition: color 1s;
}

/* Melhorar o contraste para leitura */
.text-light-gray {
    color: #e2e2e2e2;
}

/* Estilos para o botão hamburger */
.btn-hamburger {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 105;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    perspective: 1000px;
}

.btn-hamburger.active, .btn-hamburger:hover {
    transform: scale(1.1);
    /* Efeito de escala ao passar o mouse */
    background-color: black;
    /* Mudança de cor de fundo ao passar o mouse */
}

/* Configurações gerais dos botões magnéticos */
.btn-magnetic {
    width: 8rem;
    height: 8rem;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 1s, background-color 1s;
    perspective: 1000px;

}

.btn-magnetic:hover {

    transform: scale(3.1);

}

/* Estilo específico para o círculo */
.circle {
    border-radius: 50%;
}

/* Estilo específico para o triângulo */
.triangle {
    width: 0;
    height: 0;
    border-left: 8rem solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 8rem solid black;
    background-color: transparent;
    /* Tamanho e cor do triângulo */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Alterações de cor ao passar o mouse */
.circle:hover, .square:hover {
    background-color: darkgray;
}

.triangle:hover {
    border-bottom: 8rem solid darkgray;
}

/* Estilo do contêiner que agrupa as formas */
.container {
    width: 35.5rem;
    height: 35.5rem;
    border: 2px solid darkgrey;
    box-shadow: 0px 0px 50px 200px rgba(193, 193, 193, 0.368);
    transition: box-shadow 0.8s ease-in-out;
}

.container:hover {
    box-shadow: 0px 0px 0px 5px black;
    border: 2px solid black;
}

/* Estilos para formas flutuantes e botão hambúrguer */
.btn-magnetic, .btn-hamburger {
    transform: 1.5s cubic-bezier(0, 0, 0, 1.21);
    cursor: pointer;
}

.btn-hamburger.active, .btn-hamburger:hover {
    transform: scale(1.1);
    background-color: gray;
}

.nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background-color: black;
    color: white;
    transition: right 0.8s ease;
}

.nav-menu.active {
    right: 0;
}

/* Efeito parallax nas seções */
.section {
    height: 100vh;
    background-attachment: fixed;
}

/* Customizações adicionais para formas */
.circle {
    border-radius: 50%;
}


.arredondado-inferior {
    border-bottom-left-radius: 50px;
    /* Raio da borda arredondada */
    border-bottom-right-radius: 50px;
    /* Raio da borda arredondada */
}

.centralizar {
    margin-top: 180px;
    margin-right: 80px;
}

.animate-fadeIn {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}


/*

*/
:root {
    --balloon-border-radius: 4px;
    --balloon-color: rgba(3, 3, 3, 0.5);
    --balloon-text-color: #fff;
    --balloon-font-size: 14px;
    --balloon-move: 2px;
    --balloon-font-weight: 400;
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: var(--balloon-color);
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate(calc(var(--balloon-move) * -1), -50%);
    transition: opacity 0.3s;
    opacity: 0;
    border-radius: var(--balloon-border-radius);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:after {
    content: attr(aria-label);
    position: absolute;
    right: calc(100% + 20px);
    top: 50%;
    transform: translate(calc(var(--balloon-move) * -1), -50%);
    background: var(--balloon-color);
    text-align: center;
    color: var(--balloon-text-color);
    font-size: var(--balloon-font-size);
    font-weight: var(--balloon-font-weight);
    padding: 4px 8px;
    border-radius: var(--balloon-border-radius);
    opacity: 0;
    transition: opacity 0.6s;
    pointer-events: none;
}

[aria-label][data-balloon-pos="left"]:hover:before,
[aria-label][data-balloon-pos="left"]:hover:after {
    opacity: 1;
}

*, *::before, *::after {
    box-sizing: border-box;
}